@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #181818; /* Same color as the dropdown */
  position: absolute;
  top: -15px; /* Adjust as needed */
  left: 18px; /* Center the arrow */
  transform: translateX(-50%); /* Center the arrow */
}

.dropdown-container {
  min-width: 200px; /* Set a minimum width for the dropdown */
  max-width: max-content; /* Automatically adjust the width based on content */
}

.dropdown-item {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Show overflowing text */
  text-overflow: ellipsis; /* Clip the overflowing text */
  max-width: none; /* Remove maximum width */
}